@import url(common.css);

#wrap{
  width:1000px;
  margin:0 auto;
}


/* Header_______________________ */

#header{
  height:150px;
  /* background-color:pink; */
}

/*유틸메뉴*/
.utilMenu{
  height:50px;
  /* background-color:yellow; */
}
.utilMenu ul{float:right;margin-top:5px;}
.utilMenu ul li{
  float:left;
  padding:0 5px;
  border-right:1px solid #999;
}
.utilMenu ul li:last-child{border-right:none;}
.utilMenu ul li a{color:#666;}
.utilMenu ul li a:hover{color:#000;}

/*로고*/
.logo{float:left;}
.logo h1{
	font-size:24px;
	text-shadow:2px 2px 2px #ccc;
}
.logo h2{
	font-size:16px;
	color:#999;
	font-style:italic;
}

/*탑메뉴*/
.topMenu{float:right;}
.topMenu ul{}
.topMenu ul li{
  float:left;
  padding:15px 30px;
}
.topMenu ul li:nth-child(even){background-color:#666;} /*2,4,6...짝수(2n)*/
.topMenu ul li:nth-child(odd){background-color:#999}  /* 1,3,5...홀수(2n+1)*/
.topMenu ul li:first-child{border-radius:20px 0 0 20px;}
.topMenu ul li:last-child{border-radius:0 20px 20px 0;}

.topMenu ul li a{
  color:#fff;
	font-weight:400;
	font-size:16px;
}
.topMenu ul li a:hover{
  color:#000;
	font-weight:800;
}


/* Contents_______________________ */

.leftContent{  /*왼쪽영역*/
  width:750px;
	float:left;

}
.rightBanner{  /*오른쪽영역*/
  width:200px;
	float:right;
}

.content1, .content2, .content3{
	height:150px;	
	border:1px solid #000;
	background:#e8e8e8;
	padding:20px;
	margin-bottom:20px;
}
#contents h3{
	font-size:20px;
	color:#333;
	margin-bottom:20px;
}
#contents p{line-height:22px;}


/* Footer ________________________ */

#footer{
	width:1000px; 	
	height:100px;
	background:#ccc;
	border:1px solid #000;
  /* text-align:center;
  line-height:100px; */
  display: flex;
	justify-content: center;
	align-items: center;
}